<ion-header>
    <ion-toolbar>
        <ion-title>
            Custom Icon Identifiers
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-grid>

        <ion-row>

            <ion-col size="4">

                <h1>Default</h1>
                <pre><code>{{markdownDefault}}</code></pre>


                <div>
                    <p>heart</p>
                    <ion-icon name="heart"></ion-icon>
                </div>

                <div>
                    <p>airplane</p>
                    <ion-icon name="airplane"></ion-icon>
                </div>

                <div>
                    <p>add</p>
                    <ion-icon name="add"></ion-icon>
                </div>

                <div>
                    <p>arrow-back</p>
                    <ion-icon name="arrow-back"></ion-icon>
                </div>

                <div>
                    <p>logo-github</p>
                    <ion-icon name="logo-github"></ion-icon>
                </div>
            </ion-col>


            <ion-col size="4" offset="2">

                <h1>Mapped</h1>
                <pre><code>{{markdownMapped}}</code></pre>

                <div>
                    <p>heart</p>
                    <ion-icon-map name="heart"></ion-icon-map>
                </div>

                <div>
                    <p>airplane</p>
                    <ion-icon-map name="airplane"></ion-icon-map>
                </div>

                <div>
                    <p>add</p>
                    <ion-icon-map name="add"></ion-icon-map>
                </div>

                <div>
                    <p>arrow-back</p>
                    <ion-icon-map name="arrow-back"></ion-icon-map>
                </div>

                <div>
                    <p>logo-github</p>
                    <ion-icon-map name="logo-github"></ion-icon-map>
                </div>
            </ion-col>


        </ion-row>


    </ion-grid>


</ion-content>
